.scheduler {
	position: fixed;
	width: 339px;
}

.schedulerHeader {
	margin-top: 23px;
}

.schedulerHeader h3 {
	margin-bottom: 10px;
}

.scheduleSubtitle {
	font-size: 14px;
	font-weight: 400;
	line-height: 16.8px;
}

.schedulerBody {
	display: flex;
	flex-direction: column;
	gap: 10px;
	margin-top: 23px;
}

.schedulerSlot {
	min-height: 28px;
	position: relative;
	border-top: 1px solid var(--grey-01);
	border-bottom: 1px solid var(--primary-highligt);
}

.slotTime {
	position: absolute;
	top: -12px;
	font-size: 18px;
	font-weight: medium;
	line-height: 21.6px;
	padding: 1px 20px;
	margin-left: 27px;
	background-color: #fff;
	color: var(--secondary-text);
}

.slotEvent {
	font-size: 16px;
	font-weight: 400;
	line-height: 19.2px;
	padding: 20px;
	margin-top: 25px;
	margin-bottom: 30px;
	border-radius: 16px;
	color: #bc2dff;
	background-color: var(--tertiary);
}
