header {
	display: flex;
	align-items: center;
	padding: 30px 50px;
	background-color: var(--background);
}

.logo {
	display: flex;
	gap: 16px;
	align-items: end;
	justify-content: center;
}

.logoFirst {
	width: 64px;
	height: 64px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.logoSecond {
	display: flex;
	flex-direction: column;
}

.logoSecond span {
	font-family: 'Nunito' sans-serif;
	font-size: 14px;
	color: var(--secondary-text);
}

.burgerMenu {
	position: relative;
	width: 24px;
	height: 24px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.burgerMenu > span,
.burgerMenu > span::before,
.burgerMenu > span::after {
	position: absolute;
	display: block;
	width: 22px;
	height: 6px;
	border-radius: 5px;
	background-color: var(--secondary-text);
	transition: all 0.5s ease;
}

.burgerMenu > span::before {
	content: '';
	top: -8px;
}

.burgerMenu > span::after {
	content: '';
	top: 8px;
}
