.searchForm {
	position: relative;
	display: flex;
	align-items: center;
}

.searchInput {
	width: 316px;
	padding: 20px;
	border: 1px solid var(--light);
	border-radius: 15px;
	outline: none;
	color: var(--secondary-text);
}

.searchBtn {
	position: absolute;
	right: 0;
	width: 32px;
	height: 32px;
	margin-right: 26px;
	border: none;
	background: transparent;
	transition: all 0.7s ease-in-out;
}

.searchBtn:focus img {
	transform: scale(0.95);
}
